<h1>This is the list of all players</h1>
<ul>
<% @users.each do |user|%>
  <li>
    <%= link_to user.username, user%>
    <% if current_user.id == user.id %>
    	(You)
    <% elsif isGameGoingOn(user.id).nil? %>
      <%= link_to "Invite him", send_invite_path(:sender => current_user.id, :receiver => user.id) %>
    <% else %>
      Already invited!
    <% end %>
  </li>
<% end %>
</ul>
