<h1>Profile page of <i><%= @user.name %></i></h1>
<p>His ID is <%= @user.id %> and username is <%= @user.name %> </p>
<% if current_user.name==@user.name %>
	<p> This is your own profile page</p>
<% end %>

