<h1>Profile page of <i><%= @user.username %></i></h1>
<p>His ID is <%= @user.id %> and username is <%= @user.username %> </p>
<% if current_user.username==@user.username %>
	<p> This is your own profile page</p>
<% end %>

