<% if current_user.nil? %>
	<h1>Hello! Welcome to Battleships.</h1>
	<h3>Log in to start playing.</h3>
<% else %>
	<h1>Hey, welcome <%= current_user.email %></h1>
	<h2>Why don't you check out our lobby!</h2>
	<h2>Profile: <%= link_to current_user.name, current_user%></h2>
<% end %>

