<h1>Lobby</h1>

<%= javascript_include_tag "chat" %>
<%= stylesheet_link_tag    "chat" %>
<%= content_tag "span", id: "chat-data", data: {username: current_user.name, oldmsgs: find_old_msgs, maxmsgs: max_chat_msgs} do %>
<% end %>

<div id="chat-wrapper" class="well">
  <div id="chat-users" class="well">
    <h3>Active players</h3>
    <ul id="user-list">
      <li>Chat is inactive</li>
    </ul>
  </div>
  <div id="chat-messages" class="well">
  </div>
  <div id="chat-submit" class="well">
    <fieldset>
      <input type="text" id="message">
      <button id="send" class="btn btn-primary">Send</button>
    </fieldset>
  </div>
</div>