<div class="well">
  <h3>Active games</h3>
  <ul>
    <% games = all_my_games(current_user.id) %>
    <% games.each do |game| %>
      <li>
        <% str = User.find(game.player_1).name + ' versus ' + User.find(game.player_2).name %>
        <%= link_to str, game %>
      </li>
    <% end %>
  </ul>
</div>