<%= stylesheet_link_tag "games" %>

<script>
function hasClass(element, cls) {
  return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
}

function setCharAt(str,index,chr) {
  if(index > str.length-1) return str;
  return str.substr(0,index) + chr + str.substr(index+1);
}

function renderCoral()
{
  var coralblock = document.getElementById("coralblock");
  for(var i = 0; i < 240; i++)
  {
    var c = coralstring.charAt(i) == "0" ? "water" : "coral";
    coralblock.innerHTML += "<div class='" +  c +"'></div>";
  }
}
function generateCoral()
{
  var str = ""
    corola = [];
  var coralblock = document.getElementById("coralblock");
  var coral = 24;
  coralblock.innerHTML = "";
  for(var i = 0; i < 240; i++)
  {
    coralblock.innerHTML += "<div class='water'></div>";
  }

  while(coral > 0)
  {
    var rand = Math.floor(Math.random() * 240);
    if(hasClass(coralblock.children[rand],"water"))
    {
      coralblock.children[rand].classList.add("coral");
      coralblock.children[rand].classList.remove("water");
      corola.push(rand);
      coral--;
    }
  }

  for(var k = 0; k < 240; k++)
  {
    str += "0";
  }

  for(var j = 0; j < corola.length; j++)
  {
    str = setCharAt(str,corola[j],"1");
  }
  document.getElementById("coralstring").value = str;
}
<% if @generate %>
  var corola = [];
  setTimeout(generateCoral,100);
<% else %>
  var coralstring = "<%= @coralstring %>";
  setTimeout(renderCoral,100);
<% end %>

</script>

<h2>Coral Generation</h2>
<p>This is the destructible terrain that appears in the middle of the map, orange is coral, blue is water.</p>

<div>
  <div id="coralblock"></div>
</div>

<div class='text-left'>
  <button class='btn btn-sm btn-danger' onclick="generateCoral();" id="shipstartnext">Regenerate Coral</button>
  <%= form_tag(game_coral_handle_path,{:method => :post, :class => "pull-right"}) do %>
    <% if @generate %>
    <input id="coralstring" type="hidden" value="" name="coralstring">
<% else %>
    <input id="coralstring" type="hidden" value="<%= @coralstring %>" name="coralstring">
<% end %>
  <button class='btn btn-sm btn-success' id="shipstartnext">Next Step</button>
<% end %>
</div>
