<%= javascript_include_tag "games" %>

<%= content_tag :div, id: "game-data", data: {game: @game.to_json(:include => :moves), userid: current_user.id, ships: @game.ships.to_json(:include => :shiptype)} do %>
<% end %>
  <div>
  <canvas id="myCanvas" width="700" height="600" style="margin-left:auto;margin-right:auto;display:block;"></canvas>
  <div style="margin-left:auto;margin-right:auto;padding:0px;display:block;text-align:center;">
  <div id="message_stream" style="display:inline-block;overflow-y:scroll;height:200px;width:500px;background-color:#dfdfdf;"></div>
  <div style="display:inline-block;width:200px;height:230px;"id="image_key"><%= image_tag (image_url "boats.png") %></div>
</div>
</div>
<div class='text-center'><a class='btn btn-danger' href='<%= game_forfeit_path %>'>Forfeit</a></div>

<script>

  var dispatcher = new WebSocketRails(window.location.host + "/websocket", true)

  var canvas = document.getElementById('myCanvas');
  var ctx = canvas.getContext('2d');
  var N = 30;
  var HEIGHT = canvas.height
  var WIDTH = canvas.height //make it square
  var BAR_WIDTH = canvas.width-HEIGHT
  var SQ_WIDTH = Math.floor(WIDTH/N)
  var GAME_DATA = $('#game-data').data("game")
  var USERID = $('#game-data').data("userid")
  var pid = ((USERID == GAME_DATA.player_1_id) ? Turn.First : Turn.Second)
  var SHIPS = $('#game-data').data("ships")

  // game logistics
  var game = new Game();
  
  setInterval(function () {
    game.Display();
  }, 36);

</script>
