<%= stylesheet_link_tag "games" %>

<script>

var currentdrag;
var currentparent;

function drag(ev)
{
  currentdrag = ev.target;
  ev.preventDefault();
}

function drop(ev)
{
  var temp = ev.target.innerHTML;
  ev.target.innerHTML = currentdrag.outerHTML;
  currentdrag.outerHTML = temp;
  ev.target.classList.remove("dragover");
}

function dragenter(ev)
{
  ev.target.classList.add("dragover");
}

function dragleave(ev)
{
  ev.target.classList.remove("dragover");
}

function allowdrop(ev)
{
  ev.preventDefault();
}

function getShipList()
{
  var shiplistc = document.getElementById("shiplistcontainer").children;
  var shiplist = [];
  for(var i = 0; i < shiplistc.length; i++)
  {
    try{shiplist.push(shiplistc[i].children[0].getAttribute("data-shiptype"));}
    catch(err){};
  }
  return shiplist;
}
</script>

<h2>These are your boats to choose from</h2>
<p>This is the order in which your ships will spawn, drag and drop the types above to pick/order them.</p>
<ul class="list-unstyled shipdrag" id="shiplistcontainer">
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="cruiser">====> cruiser</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="cruiser">====> cruiser</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="destroyer">===> destroyer</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="destroyer">===> destroyer</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="destroyer">===> destroyer</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="torpedo">==> torpedo boat</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="torpedo">==> torpedo boat</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="minelayer">=> mine layer</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="minelayer">=> mine layer</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="radar">==> radar boat</div>
  </li>
</ul>
<div class='text-right'><button class='btn btn-sm btn-success' id="shipstartnext">Next Step</button></div>
