<%= stylesheet_link_tag "games" %>

<script>

var currentdrag;
var currentparent;

function drag(ev)
{
  currentdrag = ev.target;
  ev.preventDefault();
}

function drop(ev)
{
  if(ev.target.nodeName == "DIV")
  {
  var temp = ev.target.parentNode.innerHTML;
  ev.target.parentNode.innerHTML = currentdrag.outerHTML;
  currentdrag.outerHTML = temp;
  ev.target.classList.remove("dragover");
  }
  else
  {
  var temp = ev.target.innerHTML;
  ev.target.innerHTML = currentdrag.outerHTML;
  currentdrag.outerHTML = temp;
  ev.target.classList.remove("dragover");
  }

  var shiplist = document.getElementById("shiporder");
  shiplist.value = getShipList();
}

function dragenter(ev)
{
  ev.target.classList.add("dragover");
}

function dragleave(ev)
{
  ev.target.classList.remove("dragover");
}

function allowdrop(ev)
{
  ev.preventDefault();
}

function getShipList()
{
  var shiplistc = document.getElementById("shiplistcontainer").children;
  var shiplist = [];
  for(var i = 0; i < shiplistc.length; i++)
  {
    try{shiplist.push(shiplistc[i].children[0].getAttribute("data-shiptype"));}
    catch(err){};
  }
  return shiplist;
}

setTimeout(function(){var shiplist = document.getElementById("shiporder");shiplist.value = getShipList();},100);
</script>

<h2>These are your boats to choose from</h2>
<p>This is the order in which your ships will spawn, drag and drop the types above to pick/order them.</p>
<ul class="list-unstyled shipdrag" id="shiplistcontainer">
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="Cruiser">====> cruiser</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="Cruiser">====> cruiser</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="Destroyer">===> destroyer</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="Destroyer">===> destroyer</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="Destroyer">===> destroyer</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="Torpedo Boat">==> torpedo boat</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="Torpedo Boat">==> torpedo boat</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="Mine Layer">=> mine layer</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="Mine Layer">=> mine layer</div>
  </li>
  <li ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="allowdrop(event)" ondrop="drop(event)"> 
    <div draggable="true" ondrag="drag(event)" data-shiptype="Radar Boat">==> radar boat</div>
  </li>
</ul>
<form action="" method="post">
  <input type="hidden" name="shiporder" value="" id="shiporder">
<div class='text-right'><button class='btn btn-sm btn-success' id="shipstartnext">Next Step</button></div>
</form>
