<h1>This is the lobby</h1>
<p><%= link_to "view all players", players_path %></p>

<div id="chat" class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket">
</div>

<div class="well">
  <fieldset>
    <input type="text" id="user_name">
    <input type="text" id="message">
    <button id="send" class="btn btn-primary">Send</button>
  </fieldset>
</div>

<div class="well">
  <h3>Active players</h3>
  <ul id="user-list">
    <li>Chat is inactive</li>
  </ul>
</div>		